.orders_container {
	width: 50%;
	margin: 20px;
	text-align: center;
	.order_container {
		border: 1px solid #ccc;
		border-radius: 10px;
		margin: 20px;
	}
	.info {
		font-weight: bold;
		display: flex;
		margin: 10px;
		justify-content: space-around;
	}
}
